<div class="card">
    <div class="card-header">
        <a href="/Blog/{{id}}" class="Blog-title"><h1>{{title}}</h1></a>
       {{!-- <h1 id="Blog-{{id}}" class="Blog-title">{{title}}</h1> --}}
        <p>Posted by {{'User.username'}} on {{format_date createdAt}}</p>
    </div>
    <p class="card-body">
        {{content}}
    </p>
</div>