<section class="comment">
  {{log this}}
  <div class="comment-header">
    <h1>User Comment</h1>
  </div>
  <form class="comment-body">
    {{!-- <div id="{{id}}" name="user-input" class="comment-content">{{comment}}</div> --}}
    <textarea
      data-commendId="{{id}}"
      data-blogId="{{blog_id}}"
      data-btn="{{id}}"
      type="text"
      name="user-update"
      style="width:100%; min-height:100px; border-style:none; word-wrap: break-word; word-break: break-all;"
      word-wrap: break-word
      {{#unless owner}}disabled{{/unless}}>{{comment}}</textarea>
    <br>
    <div class="meta">
      &ndash; {{username}} on {{format_date createdAt}}
    </div>
    {{#if loggedIn}}
      {{#if owner}}
        <br>
        {{!-- <div> --}}
          {{!-- <button class="button upd-btn" type="submit">update</button>
          <button class="button del-btn" type="submit">delete</button> --}}
          <input class="button btnUpd" type="submit" name="update" value="update" />
          <input class="button btnDel" type="submit" name="delete" value="delete" />
        {{!-- </div> --}}
      {{/if}}
    {{/if}}
  </form>
</section>
{{!-- <script src="/js/comment.js"></script> --}}