<div>
    <div class="card">
        <div class="card-header">
            <h1 class="Blog-title">{{blogData.title}}</h1>
            <p>Posted by {{blogData.username}} on {{format_date blogData.createdAt}}</p>
        </div>
        <p class="card-body">
            {{blogData.content}}
        </p>
        {{'Comments.comment'}}
    </div>
    {{#each blogData as |blog| }}
        {{!-- {{#if blog.comments}} --}}
            <div class="comments">
                {{> comments blog}}
            </div>
        {{!-- {{/if}} --}}
    {{/each}}
    {{#if loggedIn}}
        <form class="comment-form">
            <div>
                <textarea class="comment-input" name="user-input"></textarea>
            </div>
            <div>
                <button class="button" type="submit">add comment</button>
            </div>
        </form>
    {{/if}}
</div>