<div>
    <div class="card">
        <div class="card-header">
            <h1 class="Blog-title">{{blogData.title}}</h1>
            <p>Posted by {{blogData.username}} on {{format_date blogData.createdAt}}</p>
        </div>
        <p class="card-body">
            {{blogData.content}}
        </p>
    </div>
    {{!-- {{log blogData.username}} --}}
    {{#each blogData.Comments as |comment| }}
        <div class="comments">
            {{> comments username=../blogData.username loggedIn=../loggedIn owner=comment.owner }}
        </div>
    {{/each}}
    {{#if loggedIn}}
        <form class="comment-form">
            <div>
                <textarea id="newComment" data-blog="{{blogData.id}}" data-user="{{userId}}" class="comment-new" style="width: 100%;" name="user-input"></textarea>
            </div>
            <div>
                <button class="button add-btn" type="submit">add comment</button>
            </div>
        </form>
        <script src="/js/comment.js"></script>
    {{/if}}
</div>